* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-sjo.pc.in -text
/apertium-sjo.sjo.lexc -text
/apertium-sjo.sjo.rlx -text
/apertium-sjo.sjo.twol -text
/autogen.sh -text
/configure.ac -text
dev/transliterate/Makefile -text
dev/transliterate/lat-sjo.twol -text
dev/transliterate/paternoster.txt -text svneol=unset#application/octet-stream
dev/transliterate/test-compose-intersect.sh -text
/modes.xml -text
/testing -text
texts/buchehe[!!-~]morin.txt -text svneol=unset#application/octet-stream
